html, body {
	width: 95%;
	height: 100%
}

body {
	padding: 50px;
}

a {
	text-decoration: none;

}

.logos {
}

footer {
	text-align: center;
	border-top: 1px solid black;
	padding: 10px 0px;
}

img {
	height: 135px;
	width: 135px;
	padding: 10px 50px;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
	padding: 30px;
}